

{{> head}}



    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>La historia de los commics</h1>
            <p>

                Los comics fueron el génesis de una serie de historias, mundos y súper héroes, que aun en la actualidad se conocen y leen en todo el mundo y que gracias al cine norteamericano y a los programas de dibujos animados son ahora conocidos por los niños, adolescentes y adultos dominicanos que abarrotan las salas de cines para ver sus historias o que compran sus imágenes en útiles escolares, en juguetes, ropas y otros suveniles.
            </p>
        </div>

        <div class="col-4">

            <img src="assets/img/heroes.png" class="img-thumbnail">
        
        </div>
    </div>

{{> footer}}